@font-face {
   font-family: 'RobotoCondensed-Regular';
   font-display: swap;
   src: url('RobotoCondensed-Regular/font.ttf');
}
@font-face {
   font-family: 'RobotoCondensed-Light';
   font-display: swap;
   src: url('RobotoCondensed-Light/font.ttf');
}
@font-face {
   font-family: 'Roboto-Light';
   font-display: swap;
   src: url('Roboto-Light/font.ttf');
}
