@font-face {
   font-family: 'RobotoCondensed-Bold';
   font-display: swap;
   src: url('file:///C:/Users/lenge/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-08-28_051859/fonts/RobotoCondensed-Bold/font.ttf');
}
